.container {
  margin-top: 3em;
  text-align: center;
}
th {
  text-align: left;
}

.glyphicon {
  font-size: 3em;
}
nav.top-nav {
  height: 60px;
  background: #f7f7f7;
  padding: .8em;
}
.glyphicon-home {
  margin-left: 1em;
  margin-top: -3px;
  color: black;
}
