<div class="container">
  <h1>New Post</h1>
  <form action="/posts" method="post" class="form-horizontal">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="title" name="post[title]">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="body" name="post[body]">
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-success">
    </div>
  </form>
</div>
