<div class="container">
  <% if !session[:user_id] %>
  <img src="http://www.clipartbest.com/cliparts/9ip/oE5/9ipoE5G6T.jpeg" width="150">
  <div class="well">
    <h1>Welcome to our Phittly Landing Page</h1>
    <a href="/signup"><button class="btn btn-lg btn-success">
      Signup
    </button></a>
    <a href="/login"><button class="btn btn-lg btn-success">
      Login
    </button></a>
    <br/>
    <br/>
  </div>

  <% elsif  session[:user_id]%>
  <h1>You're in the BLOG</h1>
    <p>Logged in as <%= @user.username %></p>
    <a href="/logout"><button class="btn btn-sm btn-default">Logout</button></a>

  <% end %>
</div>
