<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="top-nav" style="position: relative;">
    <a href="/" style="float: left;"><span class="glyphicon glyphicon-home"></span></a>
    <% if session[:user_id] %>
      <p style="float: right;">Logged in as <%= @user.username %></p>
      <a href="/logout" style="float: right; margin-right: 1em;"><button class="btn btn-sm btn-default">Logout</button></a>
      <div style="clear: both;"></div>
    <% end %>
  </nav>
  </nav>
  <%= yield %>
</body>
<footer>

</footer>
</html>
